# Unity
Library
Temp
Builds
Recordings
Logs
MemoryCaptures
UserSettings
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta

# Visual Studio / MonoDevelop
.vsconfig
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
#/*.sln
*.user
*.unityproj
*.booproj

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android
*.apk
ProjectSettings/ClusterInputManager.asset
ProjectSettings/UnityConnectSettings.asset
.vscode/

remote_config_data

# Firebase
Assets/Firebase/google-services.json
Assets/Firebase/google-services.meta

# Sonarqube
.sonarqube